@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);









#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #c1c1c1;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#header1-1 H1 {
  font-family: 'Indie Flower', cursive;
  color: #000000;
  font-size: 80px;
}
#header1-1 P {
  color: #000000;
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
  text-align: center;
}
#pricing-table1-2h .mbr-plan__details UL {
  font-family: 'Slabo 27px', serif;
}
#pricing-table1-2h DIV {
  font-family: 'Slabo 27px', serif;
}
#pricing-table1-2h H3 {
  font-family: 'Slabo 27px', serif;
}
#slider-2i H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  color: #ffffff;
  text-align: right;
}
#slider-2i P {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: center;
}
#slider-2i B {
  color: #ffffff;
}
#msg-box4-2j .mbr-header__text {
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}
#msg-box4-2j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2j .mbr-article {
  color: #ffffff;
}
#msg-box4-2j .mbr-header__text SPAN {
  font-size: 36px;
}
#contacts1-1i P {
  color: #ffffff;
  text-align: center;
}

#menu-h .mbr-brand__name {
  font-size: 16px;
}
#menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #c1c1c1;
}
#menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-h .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}



#menu-j .mbr-brand__name {
  font-size: 16px;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #c1c1c1;
}
#menu-j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-j .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#slider-17 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  color: #000000;
  text-align: left;
}
#slider-17 P {
  color: #000000;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: center;
}

#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #c1c1c1;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#contacts1-1i P {
  color: #ffffff;
  text-align: center;
}
