@import url(https://fonts.googleapis.com/css?family=Indie+Flower);








#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #c1c1c1;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#header1-1 H1 {
  font-family: 'Indie Flower', cursive;
  color: #475577;
  font-size: 80px;
}
#header1-1 P {
  color: #475577;
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
  text-align: center;
}
#slider-2f H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  color: #000000;
  text-align: left;
}
#slider-2f P {
  color: #000000;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: center;
}
#form1-1q .mbr-header__text {
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
  color: #f97352;
}
#form1-1q .btn {
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
}
#msg-box3-2g .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: #000000;
}
#msg-box3-2g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-1i P {
  color: #ffffff;
}

#menu-h .mbr-brand__name {
  font-size: 16px;
}
#menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #c1c1c1;
}
#menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-h .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}



#menu-j .mbr-brand__name {
  font-size: 16px;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #c1c1c1;
}
#menu-j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-j .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#slider-17 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  color: #000000;
  text-align: left;
}
#slider-17 P {
  color: #000000;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: center;
}



#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #c1c1c1;
}
#menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-l .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#form1-1a .mbr-header__text {
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
  color: #f97352;
}
#form1-1a .btn {
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
}

#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #c1c1c1;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
#contacts1-1i P {
  color: #ffffff;
}
